{% extends "layout.html" %}

{% block title %}
Smool - Get your Short Url
{% endblock title %}

{% block content %}

<br>

<h3 align="center" style="color: white;" >
  Shorten Your <b>Big</b> URL<br>
  <small>Easy, Fast, Secured</small>
</h3>

<div class="input-group mb-3" style="margin-left: 10px; width: auto; align:center;" >
  <input type="url" class="form-control" placeholder="Your Link" aria-label="Your Link" aria-describedby="basic-addon2" align="center" id="url" value="{{ shorten }}" >
  <div class="input-group-append">
    <button class="btn btn-dark" onclick=copy()>Copy URL</button>
  </div>
</div>

{% endblock content %}
